# Porta do servidor
PORT=8800

# Segredos do JWT
JWT_ACCESS_SECRET="SEGREDO_FORTE_PARA_ACCESS_TOKEN"
JWT_REFRESH_SECRET="SEGREDO_DIFERENTE_E_FORTE_PARA_REFRESH_TOKEN"

# Tempos de expiração
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"

# Configurações do Banco de Dados
DB_HOST="localhost"
DB_USER="root"
DB_PASSWORD="sua_senha_do_mysql_aqui"
DB_NAME="auth_db"
DB_DIALECT="mysql"